In [26]:
import pandas as pd 
from api_geolocation import pos

In [27]:
vixApp = pd.read_csv(r'C:\Users\arthu\OneDrive\Projetos\0-GitHub\mlStuff\Projects\OlxHousePricePrediction\Extraction\data\vixApartamentos.csv' , encoding='utf-16', sep='|')

In [28]:
vixCasa = pd.read_csv(r'C:\Users\arthu\OneDrive\Projetos\0-GitHub\mlStuff\Projects\OlxHousePricePrediction\Extraction\data\vixCasas.csv' , encoding='utf-16', sep='|')

In [29]:
df = pd.concat([vixCasa, vixApp], ignore_index=True)

In [30]:
df = df['CEP'].drop_duplicates()

In [31]:
df

0       29047503
1       29075910
3       29056260
4       29090720
5       29075075
          ...
7313    29057944
7314    29055920
7326    29055190
7354    29041603
7374    29090121
Name: CEP, Length: 1367, dtype: int64

In [32]:
def fncLongLat(x):
    endereco = 'CEP EM VITORIA - ES ' + str(x)
    try: 
        long, lat = pos(endereco)
    except:
        long, lat =[0,0]
    return long, lat

In [33]:
posicoes = []

In [34]:
for index, i in enumerate(df):
    temp= {}
    temp['Codigo'] = i
    endereco = 'CEP EM VITORIA - ES ' + str(i)
    temp['Posicao'] = pos(endereco)
    posicoes.append(temp)

In [35]:
df = pd.DataFrame(posicoes)

In [36]:
df

        Codigo                     Posicao
0     29047503  [-20.3196644, -40.3384748]
1     29075910  [-20.2753813, -40.3030297]
2     29056260  [-20.3042733, -40.3004066]
3     29090720  [-20.2515352, -40.2672093]
4     29075075   [-20.2659048, -40.299271]
...        ...                         ...
1362  29057944  [-20.3196644, -40.3384748]
1363  29055920  [-20.3196644, -40.3384748]
1364  29055190   [-20.3017475, -40.292016]
1365  29041603  [-20.3080754, -40.3220581]
1366  29090121  [-20.3196644, -40.3384748]

[1367 rows x 2 columns]

In [37]:
df['lat'] = df['Posicao'].map(lambda x : x[0] )
df['long'] = df['Posicao'].map(lambda x : x[1] )

In [38]:
df.to_csv('data/vixPosicoes.csv' , encoding='utf-16', sep='|' , index = False)

In [42]:
df['Posicao'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[-20.3196644, -40.3384748]    366
[-20.2832708, -40.293051]       7
[-20.3094455, -40.2927762]      2
[-20.2976595, -40.3077916]      2
[-20.3030014, -40.3075137]      2
                             ...
[-20.2536299, -40.2670089]      1
[-20.3049513, -40.3020253]      1
[-20.306332, -40.3049743]       1
[-20.305409, -40.3483501]       1
[-20.3080754, -40.3220581]      1
Name: Posicao, Length: 972, dtype: int64