In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import warnings
pd.options.display.float_format = '{:,.2f}'.format
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.00,False,0.00,0.00,0.00,0.00,0.00,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.00,False,109.00,9.00,25.00,549.00,44.00,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.00,True,43.00,"3,576.00",0.00,"6,715.00",49.00,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.00,False,0.00,"1,283.00",371.00,"3,329.00",193.00,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.00,False,303.00,70.00,151.00,565.00,2.00,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.00,True,0.00,"6,819.00",0.00,"1,643.00",74.00,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.00,False,0.00,0.00,0.00,0.00,0.00,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.00,False,0.00,0.00,"1,872.00",1.00,0.00,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.00,False,0.00,"1,049.00",0.00,353.00,"3,235.00",Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.00,False,126.00,"4,688.00",0.00,0.00,12.00,Propsh Hontichre,True

In [5]:
df.groupby('HomePlanet')['Transported'].mean()

HomePlanet
Earth    0.42
Europa   0.66
Mars     0.52
Name: Transported, dtype: float64

In [6]:
df.groupby('Destination')['Transported'].mean()

Destination
55 Cancri e     0.61
PSO J318.5-22   0.50
TRAPPIST-1e     0.47
Name: Transported, dtype: float64

In [7]:
df.groupby('CryoSleep')['Transported'].mean()

CryoSleep
False   0.33
True    0.82
Name: Transported, dtype: float64

In [8]:
df.groupby('VIP')['Transported'].mean()

VIP
False   0.51
True    0.38
Name: Transported, dtype: float64

In [9]:
df.groupby('Transported')['Age'].mean()

Transported
False   29.92
True    27.75
Name: Age, dtype: float64